<footer>
    <span class="logo-footer">
        <a href="/"> <img class="logo" src="/imagenes/logo.png" alt="logo"></a> 
    </span>

    <div class="contacto">
        <label class="footer-titulos">Contactanos</label>
        <label><i class="fas fa-phone-alt footer-items">5512-4097</i></label>
        <label><i class="fab fa-whatsapp footer-items">11-2755-2867</i></label>
        <label><i class="fas fa-map-marker-alt footer-items">Av. Lincoln 2445 - Cap. Fed.</i></label>
    </div>

    <div class="redes">
        <label class="footer-titulos">MaMeLi en redes</label>
        <label><i class="fab fa-instagram footer-items"></i></label>
        <label><i class="fab fa-facebook footer-items"></i></label>
        <label><i class="fab fa-pinterest-p footer-items"></i></label>
    </div>

</footer>