<div class="fixed-top">
<header>

    <span class="left-menu">
        <i class="fas fa-th iconos"></i>
        <i class="fas fa-search iconos"> </i> <input id="inputBuscador" type="text">
    </span>
    <span class="cont-logo">
        <a href="/"> <img class="logo" src="/imagenes/logo.JPG" alt="logo"></a> 
    </span>
    <span class="right-menu">
        <a href="/users/login" <i class="fas fa-user iconos"></i></a> 
        <a href="/cart" <i class="fas fa-shopping-cart iconos"></i></a>
    </span>

</header>
</div>
