<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Carrito</title>
        <link rel="stylesheet" href="/css/shop.css">
    </head>
    <body>
        <%- include('./partials/header') %>
        <main id="main-carrito">
            <div id="productos-seleccionados">
            </div>
            <div class="total-compra">
                <label id="texto-importe-total">El total de tu compra es de</label>
                <label id="importe-total">$8750</label>
            </div>
            <div class="main-buttons">
                <button id="cancel-button">Cancelar</button>
                <button id="more-products-button">Ver más</button>        
                <button id="confirm-button">Confirmar</button>
            </div>
            <div id="main-linea-final"></div> 
        </main>
        <%- include('./partials/footer') %>
        <script src="https://kit.fontawesome.com/17464b966e.js" crossorigin="anonymous"></script>
        <script src="/javaScript/cart.js"></script>  
    </body>
</html> 