*{
    font-family: Trebuchet MS, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
.newHeader{
    background-color: #B4CBB2;
    height: 100px;

}

.container{
    background-color: #B4CBB2;
    

}

.botonHeader{
    color:white;
    font-size: 15px;
}



main {
    width: 95vw; 
    margin: auto;
}
.left-menu{
    display: inline-block;
    background-color: #f3f3f3;
    text-align: center;
    padding: 5px;
    width: 23.5%;
    display: inline-flex;
    justify-content: space-evenly;
}

.cont-logo{
    display: inline-block;
    background-color: #f3f3f3;
    text-align: center;
    padding: 5px;
    width: 50%;
}

.logo{ 
    width: 90px;
    height: 75px;
}

.right-menu{
    display: inline-block;
    background-color: #f3f3f3;
    text-align: center;
    padding: 5px;
    width: 23.5%;
    display: inline-flex;
    justify-content: space-between;
    margin-right: 7%;
}

.iconos{
    color: rgb(68, 196, 132);
    
}
.carrousel{
    display:flex;
    max-width:100%;
    max-height: auto;
    justify-content: space-around;
    
}
.imgcarrousel{
    max-width:100%;
    max-height:auto;
}
.subtitulo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:100%;
    height: auto;
    color:#B4CBB2;
    text-align:center;
}

.space{
    height: 20px;

}

.productoSugerido{
    margin:2%;
}

.productosSugeridos{
    background-color:#FBEFFB;
    display:flex;
    justify-content: center;
}


.sugerenciasProd{
    display:flex;
    justify-content: center;

}
#relacionadosIndex {
        display: flex;
        
        text-align: center;
        font-weight: bold;
}

.card{
    box-shadow: black;
}
.card-title{
    color:rgb(68, 196, 132)
}
.btn-primary{
    color:rgb(68, 196, 132);
}

.menuCategorias{
    display:flex;
    justify-content: space-around;
    align-items:baseline;


}
.imagenCategoria{
    display: block;
    width: 100%;
    height: auto;
    padding:20px;
  }
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #ae76a6;
  }
  
.categoria:hover .overlay {
    opacity: 1;
  }
  
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
.row{
    display: flex;
}


.categoria{
    position: relative;
    width: 50%;
}

.categorias{
    display:flex;
}

.menuImagenes{
    display:flex;
    justify-content: center;
    width:95vw;

}

.interiorExterior{
    display:flex;
}


footer {
    background-color: #B4CBB2;
    border-top: 1px solid rgb(43, 35, 35);
    font-size: 12px;
    padding: 20px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
   position: relative;
   clear: both;
   margin-top: 0px;
   padding-top: 0px;
   overflow: visible;
}

footer img {
    width: 72px;
    height: 60px;
    margin-right: 5px;
    border: 1px solid rgb(43, 35, 35);
    border-radius: 100%;

}

footer label {
    display: block;
}


.contacto {
    color: white;
    text-align: center;
    font-weight: bold;   
}

.redes {
    color: white;
    text-align: center;
}

.footer-titulos {
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
}

.footer-items {
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
}

.container-bannerfaqs{
    display: grid;
    place-content: center;
    padding-top: 5%;
    

}

.banner-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:80%;
    height: auto;
    
}

.container-faqs{
    display:flex;
    justify-content: space-around;
    margin-left: 5%;
    margin-right: 5%;
}

.faqs{
    border-color: #386641;
    border-width: 2px;
    border-style: solid;
    margin-left: 10%;
    margin-right: 10%;
    
}
.faqs-middle{
    border-color: white;
    border-width: 2px;
    border-style: solid;
    
    

}

.question{
    font-size: medium;
    font-weight: bold;
    text-align: center;
}

.answer{
    font-size: small;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;

}

@media (max-width:361px){
    .productosSugeridos{
        display:block
    }

}
