/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */

body {
    font-family: monospace;
}

#login-main {
    width: 95vw; 
    margin: auto;
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 15px;
}

.profileImg{
    width: 60%; 
    height: auto;
    
    
}

#contenedor-general {
    width: 90%; 
    max-width: 580px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border: solid 1px rgb(43, 35, 35);
    border-radius: 10px;
}

#div-icono {
    background-color: transparent;
    text-align: center;
    position: relative;
    top: -32px;
    margin: auto;
}
.cajaMensajeError{
    display:flex;
    justify-content: center;
    padding-top:10px;
}
.mensajeError{

    width:250px;
    color:red;
    padding:10px;
    text-align: center;
    border-width: 2px;
    border-style:solid;
    border-color:red;
    margin-top: 10px;
    margin-bottom: 10px;

}

#icono {  
    background-color: rgb(68, 196, 132);
    color: #f3f3f3;
    border:rgb(43, 35, 35) 1px solid;
    font-size: 25px;
    padding: 20px;
    border-radius: 100%;
}

#bienvenida {
    font-size: 21px;
    display: block;
    margin: auto;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

form {   
    height: 200px;
    margin: auto;
    margin-top: 10px;   
}

.labels-formulario {
    width: 90%;
    margin-left: 6%;
}

.input {
    display: block;
    margin: auto;
    width: 90%; 
    border-radius: 5px;
    margin-bottom: 5px;  
    border: solid 1px rgb(43, 35, 35);
}

#ingresar {
    background-color: #f0e8db;
    width: 90%;
    margin: auto;
    display: block;
    border-radius: 20px;
    font-size: 14px;
    margin-top: 25px;
    margin-bottom: 10px;
    padding: 5px 0;
    border: solid 1px rgb(43, 35, 35);
}

#restablecer {
    background-color:transparent;
    width: 78%;
    margin: auto;
    display: block;    
    font-size: 14px;
    border: none;
    font-weight: bold;
} 

#ancorRegistro {
    background-color:transparent;
    width: 78%;
    margin: auto;
    display: block;    
    font-size: 14px;
    border: none;
    font-weight: bold;
    text-align: center;
}