<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MaMeLi - Login</title>
        <link rel="stylesheet" href="/css/shop.css">
        <link rel="stylesheet" href="/css/login.css">
        
    

    </head>
    
    <body>
        
        <%- include('../partials/header') %>
        
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <% if(locals.errorMessage != undefined){%>
            <div class="cajaMensajeError">
                <div class="mensajeError"> <p style= "color:red"> Credenciales Inválidas </p>
                 </div>
            </div>
            <%}%>
        

        <main id="login-main">
            <div id="contenedor-general">
                <div id="div-icono">
                    <i id="icono" class="fas fa-user"></i>    
                </div>
                <label id="bienvenida" class="labels-formulario">Iniciar sesión</label>
                <form action="/users/login" method="POST">           
                    <div class="div">
                        <label id="label-usuario" class="labels-formulario">Usuario</label>
                        <input type="text" name="email" class="input" > 
                    </div>
                    <div class="div">
                        <label id="contraseña" class="labels-formulario">Contraseña</label>
                        <input type="password" name="password" class="input">
                    </div>
                    <button id="ingresar" type="submit">Ingresar</button>
                    <button id="restablecer" type="submit">¿Reestablecer contraseña?</button>
                    <a href="/users/register" id="ancorRegistro"> ¿No estás registrado? </a> 
                    <label>
                        <label id="label-usuario" class="labels-formulario">
                            <input type="checkbox" name="remember_user">Recordar mi usuario
                        </label>
                    </label>
                </form> 
            </div>   
        </main>

        <%- include('../partials/footer.ejs') %>
        
        <script src="https://kit.fontawesome.com/17464b966e.js" crossorigin="anonymous"></script>
    </body>
</html>