<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MaMeLi - Crear producto</title>
        <link rel="stylesheet" href="/css/shop.css">
        <link rel="stylesheet" href="/css/login.css">
        <link rel="stylesheet" href="/css/productForm.css">
        <link rel="stylesheet" href="/css/headerFooter.css">
    </head> 
<body>

    <%- include('../partials/header') %>

    <main id="login-main">
        <div class="prodFormContainer">
            <div id="div-icono">
                <i id="icono" class="fas fa-leaf"></i> 
            </div>
            <label id="bienvenida" class="labels-formulario">Nuevo producto</label>
            <form class="productForm" action="/product/create" method="POST" enctype="multipart/form-data"> 
                <div  class="ProductFormFirstLine">
                    <div class="prodFormName">
                        <label class="prodFormLabel" for="">Nombre</label>
                        <input class="prodFormInput" type="text" name="name">
                    </div>
                    <div class="prodFormCategory">
                        <label class="prodFormLabel" for="">Categoría</label>
                        
                        <select name="category" id="category">
                          

                             <% for(let i=0; i<category.length; i++){ %>
                            
                                <option value="<%=category[i].id%>"><%=category[i].name%></option>
                                <%}%> 
                        </select>
                    </div>
                </div>
                
                <div class="ProductFormSecondLine">
                    <div class="prodFormPrice">
                        <label class="prodFormLabel" for="">Precio</label>
                        <input class="prodFormInput" type="text" name="price">
                    </div>
                </div>
                <div class="ProductFormThirdLine">
                    <div class="prodFormPrice">
                        <label class="prodFormLabel" for="">Stock disponible</label>
                        <input class="prodFormInput" type="text" name="stock">
                    </div>
                </div>
                
                
                <div class="textArea-description">
                    <!-- <label class="prodFormLabel" for="">Descripción</label> -->
                    <label style="margin:auto" class="prodFormLabel" for="">Descripción</label>
                    <textarea class="prodFormInputInterest" name="description" id="" cols="30" rows="10"></textarea>
                </div>

                <div class="new-product-button-add-image-div-container">   
                    <label class="new-product-button-add-image-name">Agregar imágenes</label>
                    <input type="file" name="productImage" accept=".jpg" class="new-product-button-add-image-input">
                </div>
                
                <div class="productFormFourthLine">
                    <label for="">En exhibición</label>
                    <input type="checkbox" name="showing">
                    <button class="prodFormButton" type="submit">Confirmar</button>
                </div>
            </form> 
        </div> 
    </div>  
    </main>
   
    <%- include('../partials/footer') %>
    <script src="https://kit.fontawesome.com/17464b966e.js" crossorigin="anonymous"></script>

</body>
</html>